@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
html {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}

html {
	--background-color: rgb(243, 243, 243);
	--main-color: rgb(0, 0, 0);
	--header-border: rgba(0, 0, 0, 0.2);
	--card-background: hsla(0, 5%, 71%, 0.158);
	--card-box-shadow: rgba(33, 88, 216, 0.1) 0px 0.15rem 0.5rem, rgba(32, 99, 235, 0.1) 0px 0.075rem 0.175rem;
}

html.dark {
	--background-color: rgb(19, 19, 19);
	--main-color: rgb(255, 255, 255);
	--header-border: rgba(255, 255, 255, 0.2);
	--card-background: hsla(0, 1%, 29%, 0.158);
	--card-box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}
body {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	background: var(--background-color);
	color: var(--main-color);
}
main {
	text-align: center;
}
