.modal {
	background: white;
	max-width: 500px;
	min-height: 100px;
	max-height: 600px;
	border-radius: 15px;
	padding: 20px;
	z-index: 100;
	color: black;
}
.header {
	display: flex;
	justify-content: flex-end;
	font-size: 25px;
	color: red;
}
.title {
	margin-top: 30px;
	font-weight: 800;
}
.body {
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 100;
}
