.toggle {
	position: relative;
	top: 50%;
	width: 65px;
	height: 30px;
	overflow: hidden;
	border-radius: 100px;
}
.checkbox:checked + .knobs:before {
	content: "";
	left: 38px;
	background-color: var(--background-color);
}

.knobs:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 20px;
	height: 22px;
	color: var(--main-color);
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 9px 4px;
	background-color: var(--background-color);
	border-radius: 50%;
	transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
.checkbox:checked ~ .layer {
	background-color: var(--main-color);
}
.knobs,
.knobs:before,
.layer {
	transition: 0.3s ease all;
}
.knobs,
.layer {
	position: absolute;
	inset: 0;
}
.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}
.knobs {
	z-index: 2;
}
.layer {
	width: 100%;
	border-radius: 100px;
	background-color: var(--main-color);
	transition: 0.3s ease all;
	z-index: 1;
}
